<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{all.buildings}">Title</title>
    <th:block th:fragment="template :: css"></th:block>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <td th:text="#{address}"></td>
        <td th:text="#{room.number}"></td>
        <td th:text="#{room.size}"></td>
        <td th:text="#{tenant}"></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="object" type="com.proskurnia.VOs.ApartmentVO"*/-->
    <tbody th:each="object : ${list}">
    <tr>
        <td><a th:href="'/buildings/' + ${object.getBuildingId()}" th:text="${object.address}"></a></td>
        <td th:text="${object.roomNumber}"></td>
        <td th:text="${object.size}"></td>
        <td>
            <a th:href="'/rentingContracts/' + ${object.getRentingContractId()}" th:text="${object.tenantName}"></a>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:fragment="template :: js"></th:block>
</body>
</html>