<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{all.buildings}">Title</title>
    <th:block th:fragment="template :: css"></th:block>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <td th:text="#{address}"></td>
        <td th:text="#{vacant.apartments}"></td>
        <td th:text="#{acquisition.date}"></td>
        <td th:text="#{construction.date}"></td>
        <td th:text="#{date.of.sale}"></td>
        <td th:text="#{comment}"></td>
        <td th:text="#{manageable}"></td>
    </tr>
    </thead>
    <tbody th:each="entity : ${list}">
    <tr>
        <td th:text="${entity.address}"></td>
        <td><a th:href="${'/buildings/' + ${entity.id} + '/'}" th:text="${entity.emptyApartments}"></a></td>
        <td th:text="${entity.acquisitionDate}"></td>
        <td th:text="${entity.constructionDate}"></td>
        <td th:text="${entity.dateOfSale}"></td>
        <td th:text="${entity.comment}"></td>
        <td th:text="${entity.manageable ? #{yes} : #{no}}"></td>
    </tr>
    </tbody>
</table>
<th:block th:fragment="template :: js"></th:block>
</body>
</html>