<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{apartments}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<table class="table table-striped dataTable" th:attr="data-button-href='apartments/0?buildingId='+${id},data-button-name=#{register.apartment},data-button-visible=${id}">
    <thead>
    <tr>
        <td th:text="#{address}"></td>
        <td th:text="#{room.number}"></td>
        <td th:text="#{room.size}"></td>
        <td th:text="#{tenant}"></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="object" type="com.proskurnia.VOs.ApartmentVO"*/-->
    <tbody>
    <tr th:each="object : ${list}">
        <td><a th:href="'/buildings/' + ${object.buildingId}" th:text="${object.address}"></a></td>
        <td><a th:href="'/apartments/'+${object.id}" th:text="${object.roomNumber}"></a></td>
        <td th:text="${object.size}"></td>
        <td>
            <a th:href="'/renting-contracts/' + ${object.getRentingContractId()}" th:text="${object.tenantName}"></a>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:replace="template :: js"></th:block>
</body>
</html>