<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="rentingContractVO" type="com.proskurnia.VOs.RentingContractVO"*/-->
<head>
    <meta th:lang="${#locale.getDisplayLanguage()}" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{renting.contract}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<form id="end-contract-form" th:action="'/renting-contracts/end-contract/'+${rentingContractVO.id}"
      method="post"></form>
<form id="return-deposit-form" th:action="'/renting-contracts/return-deposit/'+${rentingContractVO.id}"
      method="post"></form>
<form th:object="${rentingContractVO}" th:action="@{save}" action="#" method="post">
    <div class="container">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group col-sm-6">
            <label th:text="#{tenant}"></label>
            <input type="hidden" th:field="*{tenantId}"/>
            <a th:href="'/tenants/'+*{tenantId}" class="form-control" th:text="*{tenantName}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{start.date}"></label>
            <div class="alert-danger" th:errors="*{startDate}"/>
            <input type="hidden" th:field="*{startDate}"/>
            <input class="datepicker form-control start-date" th:attr="data-value=*{startDate}?*{startDate.getTime()}:''"
                   data-alt-field="#startDate" th:disabled="${rentingContractVO.id!=0}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{address}"></label>
            <select th:if="${rentingContractVO.id==0}" data-live-search="true" class="form-control selectpicker"
                    id="building">
                <th:block th:each="building : ${buildings}">
                    <option th:value="${building.key}" th:text="${building.value}"></option>
                </th:block>
            </select>
            <a th:href="'/buidlings/'+*{buildingId}" class="form-control" th:text="*{address}"
               th:unless="${rentingContractVO.id==0}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{room.number}"></label>
            <select th:if="${rentingContractVO.id==0}" data-live-search="true" class="form-control selectpicker"
                    th:field="*{apartmentId}">
            </select>
            <input type="hidden" th:field="*{apartmentId}" th:unless="${rentingContractVO.id==0}"/>
            <a th:href="'/apartments/'+*{apartmentId}" th:unless="${rentingContractVO.id==0}" class="form-control"
               th:text="*{roomNumber}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{rent.price}"></label>
            <div class="alert-danger" th:errors="*{rentPrice}"/>
            <input class="form-control" th:readonly="${rentingContractVO.id!=0}" th:field="*{rentPrice}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{estimated.fees}"></label>
            <div class="alert-danger" th:errors="*{estimatedFees}"/>
            <input class="form-control" th:field="*{estimatedFees}"/>
        </div>
        <div class="form-group col-sm-6" th:if="${rentingContractVO.depositReturned}">
            <label th:text="#{deposit.returned}"></label>
            <input class="form-control" th:field="*{deposit}" readonly="readonly"/>
        </div>
        <div class="form-group col-sm-6"
             th:if="${rentingContractVO.id!=0 and rentingContractVO.actualEndDate!=null and !rentingContractVO.depositReturned}">
            <div><label th:text="#{deposit}"></label>
                <button id="return-deposit" form="return-deposit-form" class="pull-right btn btn-warning btn-xs"
                        th:text="#{return.deposit}"></button>
            </div>
            <div class="alert-danger" th:errors="*{deposit}"/>
            <div class="col-sm-6">
                <input class="form-control" th:field="*{deposit}" form="return-deposit-form"/>
            </div>
            <input type="hidden" name="returnDepositDate" id="returnDepositDate" form="return-deposit-form"/>
            <div class="col-sm-6">
                <input class="form-control datepicker col-sm-6" th:attr="data-value=${#dates.createNow().getTime()}"
                       data-alt-field="#returnDepositDate"/>
            </div>
        </div>
        <div class="form-group col-sm-6" th:if="${rentingContractVO.id==0}">
            <label th:text="#{deposit}"></label>
            <input class="form-control" th:field="*{deposit}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{expected.end.date}"></label>
            <div class="alert-danger" th:errors="*{expectedEndDate}"/>
            <input type="hidden" th:field="*{expectedEndDate}"/>
            <input class="datepicker form-control"
                   th:attr="data-value=*{expectedEndDate}?*{expectedEndDate.getTime()}:''"
                   data-alt-field="#expectedEndDate"
                   th:disabled="${rentingContractVO.id!=0}"/>
        </div>
        <div class="form-group col-sm-6" th:unless="${rentingContractVO.id==0}">
            <label th:text="#{actual.end.date}"></label>
            <div class="alert-danger" th:errors="*{actualEndDate}"/>
            <button type="button" id="end-contract" class="pull-right btn btn-danger btn-xs"
                    th:if="${rentingContractVO.actualEndDate==null and rentingContractVO.id!=0}"
                    th:text="#{end.renting.contract}"></button>
            <div class="alert-danger alert" th:errors="*{rentPrice}"/>
            <input type="hidden" form="end-contract-form" th:field="*{actualEndDate}"/>
            <input id="endDate" th:disabled="*{actualEndDate}?'true':'false'"
                   th:attr="data-value=*{actualEndDate}?*{actualEndDate.getTime()}:'',data-error-message=#{select.date}"
                   data-alt-field="#actualEndDate" class="datepicker form-control" th:placeholder="#{select.date}"/>
        </div>
        <th:block>
            <hr/>
            <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
                <div class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="footer">
                <a th:href="'/payments/credit/'+${rentingContractVO.id}+'?address='+${rentingContractVO.address}+'&amp;roomNumber='+${rentingContractVO.roomNumber}"
                   th:unless="${rentingContractVO.id==0}" class="btn btn-primary"
                   th:text="#{register.credit.payment}"></a>
                <a th:href="'/reports/contract/'+${rentingContractVO.id}" th:unless="${rentingContractVO.id==0}"
                   class="btn btn-primary" th:text="#{view.report}"></a>
                <button type="submit" class="pull-right btn btn-success" th:text="#{save}">Save
                </button>
            </div>
        </th:block>
    </div>
</form>
<th:block th:replace="template :: js"></th:block>
<script th:if="${rentingContractVO.id==0}">
    /*<![CDATA[*/
    $('#building').change(function () {
        var buildingId = $('#building').val();
        var startDate = $('#startDate').val();
        if (buildingId && startDate) {
            $.get("/apartments/empty-json", {buildingId: buildingId, startDate: startDate}, function (data) {
                $('#apartmentId').selectpicker('destroy').html(data.map(function (ap) {
                    return $('<option value="' + ap.id + '">' + ap.roomNumber + '</option>')
                })).selectpicker();
            });
        }
    }).change();

    $('#end-contract').click(function () {
        var endDate = $('#actualEndDate').val();
        if (endDate) {
            $('#end-contract-form').submit();
        } else {
            $('#actualEndDate')
                .before($('<div class="alert alert-danger">' + $('#endDate').data('error-message') + '</div>'));
        }
    });
    /*]]>*/
</script>
</body>
</html>