<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta th:lang="${#locale.getDisplayLanguage()}" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{all.owners}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<table id="owners" class="table table-striped dataTable" th:attr="data-button-href='/owners/0',data-button-name=#{new.owner},data-button-visible='true'">
    <thead>
    <tr>
        <td th:text="#{person.id}">ID</td>
        <td th:text="#{person.name}"></td>
        <td th:text="#{person.CAF}"></td>
        <td th:text="#{address}"></td>
        <td th:text="#{phone}"></td>
        <td th:text="#{email}"></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="person" type="com.proskurnia.VOs.PersonVO"*/-->
    <tbody>
    <tr th:each="person : ${owners}">
        <td th:text="${person.passport}"></td>
        <td><a th:href="${'/owners/' + person.id}" th:text="${person.name}"></a></td>
        <td th:text="${person.caf}"></td>
        <td th:text="${person.address}"></td>
        <td>
            <div th:text="${person.phone1}"></div>
            <div th:text="${person.phone2}"></div>
        </td>
        <td>
            <div th:text="${person.email1}"></div>
            <div th:text="${person.email2}"></div>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:replace="template :: js"></th:block>
</body>
</html>