<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${personVO.name == null} ? #{new.owner} : ${personVO.name}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<!--/*@thymesVar id="object" type="com.proskurnia.VOs.EquipmentVO"*/-->
<form th:object="${object}" th:action="@{save}" action="#" method="post">
    <div class="container">
        <!--<input type="hidden" th:field="*{id}"/>-->
        <div class="form-group">
            <label th:text="#{serial.number}"></label>
            <div class="alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</div>
            <input class="form-control" th:field="*{id}"/>
        </div>
        <div class="form-group">
            <label th:text="#{wifi.name}"></label>
            <input class="form-control" th:field="*{wifiName}"/>
        </div>
        <div class="form-group">
            <label th:text="#{wifi.password}"></label>
            <input class="form-control" th:field="*{wifiPassword}"/>
        </div>
        <hr/>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
            <div class="alert alert-danger" th:text="${error}"></div>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
        </div>
    </div>
</form>
<th:block th:replace="template :: js"></th:block>
</body>
</html>