.input-group .js-save,
.input-group.edited .js-delete{
    display: none;
}

.input-group.edited .js-save {
    display: initial;
}

.input-group.edited input {
    background-color: rgb(185, 255, 142);
}

.input-group {
    padding: 10px;
}

.etalon {
    display: none
}