.row .js-save,
.row.edited .js-delete{
    display: none;
}

.row.edited .js-save {
    display: initial;
}

.row.edited input {
    background-color: rgb(185, 255, 142);
}

.container {
    width: 500px;
}

.row .buttons {
    text-align: center;
}

.row {
    padding: 10px;
}

.etalon {
    display: none
}