<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{bank.accounts}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<table id="owners" class="table table-striped dataTable">
    <thead>
    <tr>
        <td th:text="#{bank.account.number}">ID</td>
        <td th:text="#{account.balance}"></td>
        <td th:text="#{bank}"></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="object" type="com.proskurnia.VOs.OwnerAccountVO"*/-->
    <tbody th:each="object : ${list}">
    <tr>
        <td th:text="${object.id}"></td>
        <td th:text="${object.balance}"></td>
        <td><a th:href="${'/banks' + object.id}" th:text="${object.bankName}"></a></td>
    </tr>
    </tbody>
</table>
</body>
<th:block th:replace="template :: js"></th:block>
</html>