<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
              type="text/css"/>
        <link rel="stylesheet" href="/resources/css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}"
              type="text/css"/>
        <link rel="stylesheet" href="/resources/css/jquery-datepicker.min.css" th:href="@{/css/jquery-datepicker.min.css}"
              type="text/css"/>
        <link rel="stylesheet" href="/resources/css/form.css" th:href="@{/css/form.css}" type="text/css"/>
        <link rel="stylesheet" href="/resources/css/datatables.min.css" th:href="@{/css/datatables.min.css}"
              type="text/css"/>
    </th:block>
</head>
<body>
<div class="header" th:fragment="header">
    <a class="btn btn-default" href="/buildings" th:text="#{buildings}"/>
    <a class="btn btn-default" href="/owners" th:text="#{owners}"/>
    <a class="btn btn-default" href="/tenants" th:text="#{tenants}"/>
    <a class="btn btn-default" href="/service-companies" th:text="#{service.companies}"/>
    <a class="btn btn-default" href="/banks" th:text="#{banks}"/>
    <a class="btn btn-default" href="/settings" th:text="#{application.settings}"/>
    <a class="btn btn-default" href="/payments/debit/0" th:text="#{create.debit.payment}"/>
    <a class="btn btn-default" href="/payments/credit/0" th:text="#{create.credit.payment}"/>
</div>
<th:block th:fragment="js">
    <script src="/resources/js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script src="/resources/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
    <script src="/resources/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/resources/js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}"></script>
    <script src="/resources/js/jquery-datepicker.min.js" th:src="@{/js/jquery-datepicker.min.js}"></script>
</th:block>
</body>
</html>