<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="serviceCompanyVO" type="com.proskurnia.VOs.ServiceCompanyVO"*/-->
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${serviceCompanyVO.name}?:#{new.service.company}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<form th:object="${serviceCompanyVO}" th:action="@{save}" action="#" method="post">
    <div class="container">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group col-sm-6">
            <label th:text="#{service.company.name}"></label>
            <input class="form-control" th:field="*{name}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{service.company.type}"></label>
            <select th:if="${serviceCompanyVO.id==0}" data-live-search="true" class="form-control selectpicker"
                    th:field="*{typeId}">
                <th:block th:each="type : ${types}">
                    <option th:value="${type.key}" th:text="${type.value}"></option>
                </th:block>
            </select>
            <input class="form-control" th:field="*{typeName}" th:unless="${serviceCompanyVO.id==0}" th:readonly="true"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{address}"></label>
            <div class="alert-danger" th:errors="*{address}"/>
            <input class="form-control" th:field="*{address}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{phone}+' 1'"></label>
            <div class="alert-danger" th:errors="*{phone1}"/>
            <input class="form-control" th:field="*{phone1}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{phone}+' 2'"></label>
            <div class="alert-danger" th:errors="*{phone2}"/>
            <input class="form-control" th:field="*{phone2}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{email}"></label>
            <div class="alert-danger" th:errors="*{email}"/>
            <input class="form-control" th:field="*{email}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{comment}"></label>
            <div class="alert-danger" th:errors="*{comment}"/>
            <input class="form-control" th:field="*{comment}"/>
        </div>
        <hr/>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
            <div class="alert alert-danger" th:text="${error}"></div>
        </div>
        <div class="footer">
            <button type="submit" class="pull-right btn btn-success" th:text="#{save}">Save</button>
        </div>
    </div>
</form>
<th:block th:replace="template :: js"></th:block>
</body>
</html>