<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{application.settings}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<div class="container col-sm-6">
    <h3 th:text="#{person.titles}"></h3>
    <th:block th:each="entry : ${titles}">
        <div class="input-group form-group">
                <input name="key" type="hidden" th:value="${entry.key}"/>
                <input type="text" name="value" class="form-control" th:value="${entry.value}"/>
            <span class="input-group-btn">
                <button class="btn btn-success js-save" data-url="/settings/save-title" th:text="#{save}"></button>
                <button class="btn btn-danger js-delete" data-url="/settings/delete-title" th:text="#{delete}"></button>
            </span>
        </div>
    </th:block>
    <div class="input-group form-group new etalon">
            <input name="key" type="hidden" value="0"/>
            <input name="value" type="text" class="form-control"/>
        <span class="input-group-btn">
            <button class="btn btn-success js-save" data-url="/settings/save-title" th:text="#{save}"></button>
            <button class="btn btn-danger js-delete" data-url="/settings/delete-title" th:text="#{delete}"></button>
        </span>
    </div>
    <button class="btn btn-primary js-new" th:text="#{add.new}"></button>
</div>
<div class="container col-sm-6">
    <h3 th:text="#{service.company.types}"></h3>
    <th:block th:each="entry : ${serviceCompanyTypes}">
        <div class="input-group form-group">
                <input name="key" type="hidden" th:value="${entry.key}"/>
                <input type="text" name="value" class="form-control" th:value="${entry.value}"/>
            <span class="input-group-btn">
                <button class="btn btn-success js-save" data-url="/settings/save-service-company-type"
                        th:text="#{save}"></button>
                <button class="btn btn-danger js-delete" data-url="/settings/delete-service-company-type"
                        th:text="#{delete}"></button>
            </span>
        </div>
    </th:block>
    <div class="input-group form-group new etalon">
            <input name="key" type="hidden" value="0"/>
            <input name="value" type="text" class="form-control"/>
        <span class="input-group-btn">
            <button class="btn btn-success js-save" data-url="/settings/save-service-company-type"
                    th:text="#{save}"></button>
            <button class="btn btn-danger js-delete" data-url="/settings/delete-service-company-type"
                    th:text="#{delete}"></button>
        </span>
    </div>
    <div>
        <button class="btn btn-primary js-new" th:text="#{add.new}"></button>
    </div>
</div>
<footer>
    <a href="/settings/payments" th:text="#{all.payments}" class="btn btn-primary"/>
</footer>
</body>
<th:block th:replace="template :: js"></th:block>
<script src="/resources/js/settings.js" th:src="@{/js/settings.js}"></script>
</html>