<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{contract.report}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<table class="table table-striped dataTable">
    <thead>
    <tr>
        <td th:text="#{buildings}"></td>
        <td th:text="#{date}">ID</td>
        <td th:text="#{amount}"></td>
        <td th:text="#{description}"></td>
        <td th:text="#{comment}"></td>
        <td></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="p" type="com.proskurnia.VOs.Payment"*/-->
    <tbody>
    <tr th:each="p : ${payments}" th:object="${p}"
        th:class="${p.getType()==T(com.proskurnia.VOs.Payment.PaymentType).CreditPayment}?'green':'red'">
        <td th:text="*{buildingAddress}"></td>
        <td th:attr="data-order=*{getDate()}" th:text="${#dates.format(p.date, 'd MMMM, yyyy')}"></td>
        <td th:text="*{amountForOwnerReport()}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{comment}"></td>
        <td>
            <button th:text="#{delete}" class="btn btn-danger btn-xs delete-btn"
                    th:attr="data-id=${p.id},data-credit=${p.getType()==T(com.proskurnia.VOs.Payment.PaymentType).CreditPayment}?'true':'false'"></button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <span class="input-group">
            <input type="hidden" id="from"/>
            <input type="text" class="datepicker form-control" id="from-picker" th:attr="data-alt-field='#from'"
                   th:placeholder="#{since}"/>
                <span class="input-group-btn">
            <button class="btn btn-default clear-btn" data-target="#from-picker" th:text="#{clear}"/>
                    </span>
            </span>
            <span class="input-group">
            <input type="hidden" id="to"/>
            <input type="text" class="datepicker form-control" id="to-picker" th:attr="data-alt-field='#to'"
                   th:placeholder="#{till}"/>
                <span class="input-group-btn">
            <button class="btn btn-default clear-btn" data-target="#to-picker" th:text="#{clear}"/>
                </span>
            </span>
        </td>
    </tr>
    </tfoot>
</table>
<th:block th:replace="template :: js"></th:block>
<script>
    /*<![CDATA[*/
    var dataTable = $('.dataTable').dataTable();

    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var from = parseInt($('#from').val());
            var to = parseInt($('#to').val());
            var date = parseInt(data[0]);
            if (( isNaN(from) && isNaN(to) ) ||
                ( isNaN(from) && date <= to ) ||
                ( from <= date && isNaN(to) ) ||
                ( from <= date && date <= to )) {
                return true;
            }
            return false;
        }
    );

    $('.delete-btn').click(function () {
        var $this = $(this);
        $.post('/settings/delete-payment/' + $this.data('id')+'?credit='+$this.data('credit'), function () {
            dataTable.row($this.parents('tr')).remove().draw();
        });
    });

    $('.clear-btn').click(function () {
        var datefield = $($(this).data('target'));
        $.datepicker._clearDate(datefield);
        datefield.change();
    });

    $(document).ready(function () {
        var table = $('.dataTable').DataTable();
        $('#from-picker, #to-picker').change(function () {
            table.draw();
        });
    });
    /*]]>*/
</script>
<style>
    .form-inline .input-group > .form-control {
        width: auto
    }

    tr.red.odd {
        background-color: #f2dede !important;
    }

    tr.red.even {
        background-color: #fdeded !important;
    }

    tr.green.odd {
        background-color: #c6ffae !important;
    }

    tr.green.even {
        background-color: #dbf9cf !important;
    }
</style>
</body>
</html>