<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title th:text="${object.address}?:#{register.building}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<!--/*@thymesVar id="object" type="com.proskurnia.VOs.BuildingVO"*/-->
<form th:object="${object}" th:action="@{save}" action="#" method="post">
    <div class="container">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{ownerAccountId}"/>
        <div class="form-group">
            <label th:text="#{address}"></label>
            <div class="alert-danger" th:errors="*{address}">Address Error</div>
            <input class="form-control" th:field="*{address}"/>
        </div>
        <div class="form-group">
            <label th:text="#{owner}"></label>
            <input class="form-control" th:field="*{ownerName}" th:readonly="true"/>
        </div>
        <div class="form-group">
            <label th:text="#{comment}"></label>
            <textarea class="form-control" id="comment" th:field="*{comment}"/>
        </div>
        <div class="form-group">
            <label th:text="#{acquisition.date}"></label>
            <input type="hidden" th:field="*{acquisitionDate}"/>
            <input class="datepicker form-control" data-alt-field="#acquisitionDate"/>
        </div>
        <div class="form-group">
            <label th:text="#{construction.date}"></label>
            <input type="hidden" th:field="*{constructionDate}"/>
            <input class="datepicker form-control" data-alt-field="#constructionDate"/>
        </div>
        <div class="form-group">
            <label th:text="#{date.of.sale}"></label>
            <input type="hidden" th:field="*{dateOfSale}"/>
            <input class="datepicker form-control" data-alt-field="#dateOfSale"/>
        </div>
        <hr/>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
            <div class="alert alert-danger" th:text="${error}"></div>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
        </div>
    </div>
</form>
<th:block th:replace="template :: js"></th:block>
</body>
</html>