<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${buildingVO.address}?:#{register.building}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<!--/*@thymesVar id="buildingVO" type="com.proskurnia.VOs.BuildingVO"*/-->
<form th:object="${buildingVO}" th:action="@{save}" action="#" method="post">
    <div class="container">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{ownerId}"/>
        <div class="form-group col-sm-6">
            <label th:text="#{address}"></label>
            <div class="alert-danger" th:errors="*{address}">Address Error</div>
            <input class="form-control" th:field="*{address}"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{owner}"></label>
            <input class="form-control" th:field="*{ownerName}" th:readonly="true"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{bank.account.number}"></label>
            <select data-live-search="true" class="form-control selectpicker" th:field="*{ownerAccountId}">
                <th:block th:each="account : ${accounts}">
                    <option th:value="${account.id}" th:text="${account.id}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{acquisition.date}"></label>
            <input type="hidden" th:field="*{acquisitionDate}"/>
            <input class="datepicker form-control" data-alt-field="#acquisitionDate"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{construction.date}"></label>
            <input type="hidden" th:field="*{constructionDate}"/>
            <input class="datepicker form-control" data-alt-field="#constructionDate"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{date.of.sale}"></label>
            <input type="hidden" th:field="*{dateOfSale}"/>
            <input class="datepicker form-control" data-alt-field="#dateOfSale"/>
        </div>
        <div class="form-group col-sm-6">
            <label th:text="#{comment}"></label>
            <textarea class="form-control" id="comment" th:field="*{comment}"/>
        </div>
        <hr/>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
            <div class="alert alert-danger" th:text="${error}"></div>
        </div>
        <div class="footer">
            <a th:unless="${buildingVO.id==0}" th:href="'/service-contracts?buildingId='+*{id}"
               th:text="#{service.contracts}" class="btn btn-primary"></a>
            <a th:unless="${buildingVO.id==0}" th:href="'/reports/building/'+*{id}" th:text="#{view.report}"
               class="btn btn-primary"></a>
            <button type="submit" class="pull-right btn btn-success" th:text="#{save}">Save</button>
        </div>
    </div>
</form>
<th:block th:replace="template :: js"></th:block>
</body>
</html>