<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{buildings}">Title</title>
    <th:block th:replace="template :: css"></th:block>
</head>
<body>
<div th:replace="template :: header"/>
<table class="table table-striped dataTable" th:attr="data-button-href='buildings/0?ownerId='+${id},data-button-name=#{register.building},data-button-visible=${id}">
    <thead>
    <tr>
        <td th:text="#{address}"></td>
        <td th:text="#{apartments}"></td>
        <td th:text="#{acquisition.date}"></td>
        <td th:text="#{construction.date}"></td>
        <td th:text="#{date.of.sale}"></td>
        <td th:text="#{comment}"></td>
        <td th:text="#{manageable}"></td>
    </tr>
    </thead>
    <!--/*@thymesVar id="object" type="com.proskurnia.VOs.BuildingVO"*/-->
    <tbody>
    <tr th:each="object : ${list}">
        <td th:attr="data-order=${object.address}"><a th:href="'/buildings/'+${object.id}" th:text="${object.address}"></a></td>
        <td th:attr="data-order=${object.emptyApartments}"><a th:href="'/apartments?buildingId=' + ${object.id}" th:text="${object.emptyApartments}+' '+#{available}"></a></td>
        <td th:text="${object.acquisitionDate}"></td>
        <td th:text="${object.constructionDate}"></td>
        <td th:text="${object.dateOfSale}"></td>
        <td th:text="${object.comment}"></td>
        <td th:text="${object.manageable}?#{yes}:#{no}"></td>
    </tr>
    </tbody>
</table>
<th:block th:replace="template :: js"></th:block>
</body>
</html>